/* Cards */
#cardsg {
    background: white;    
    border: #016392 3px solid;   
}

/* Texto que aparece al final de la card */
.fincard {
    background-color: #016392;
    padding-top: 10px;
    margin-top: 10px;
}
.fincard a {
    color: white;
}

.fincard a:hover {
    color: white;
}

/* Margen entre cada row */
.margencard {
    margin-top: 20px;
}

/* Header filtro */
#filtros {
    text-align: center;
}

/* Cuerpo de los filtros */
.cuerpo-filtro {
    background-color: #016392;
}

/* Subgrupo del filtro */
.subgrupo-filtro {
    background-color: #1e8abb;    
}
.subfiltro {
    color: white;
}

/* texto del filtro */
.texto-filtro {
    color: white;
}
.texto-filtro:hover {
    color: white;
}

.subfiltro {
    color: white;
}

/* Pestañas */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: white;
    background-color: #016392;
    border-color: transparent;
}
.nav-tabs .nav-link {
    border: 0px;
    background-color: red;
    color: white;
}

/* Titulo de cada tab content */
.titulo {
    background-color: #016392;
    color: white;
    padding-bottom: 5px;
}
.titulog {
    background-color: #d70c20;
    color: white;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.numero {
    font-size: 40px;
}

#texton {
    font-size: 20px;
}


/* Cards en los archivos de Grafica */

.cbody {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: #f3f3f4;
}

/* Texto del Ranking en los archivos de Grafica */

.txta {   
    color: #007bff!important;
    font-size: 50px;
}


.txtn {
    color: #ffc107!important;
    font-size: 38px;
}


.txtt {
    color: #28a745!important;
    font-size: 67px;
}

/* Boton Dashboard */
.bdash {
    margin-top: 10px;
}

/* Tabla ranking */
.rankingt {
    background-color: #F2F2F2;
}
