/* Cards */
#cardsg {
    background: white;    
    border: #016392 3px solid;   
}

/* Texto que aparece al final de la card */
.fincard {
    background-color: #016392;
    padding-top: 10px;    
}
.fincard a {
    color: white;
}

.fincard a:hover {
    color: white;
}

/* Margen entre cada row */
.margencard {
    margin-top: 20px;
}

/* Header filtro */
#filtros {
    text-align: center;
}

/* Cuerpo de los filtros */
.cuerpo-filtro {
    background-color: #016392;
}

/* Subgrupo del filtro */
.subgrupo-filtro {
    background-color: #1e8abb;    
}
.subfiltro {
    color: white;
}

.subfiltro:hover {
    color: gainsboro;
    text-decoration: underline;
}

/* texto del filtro */
.texto-filtro {
    color: white;
}
.texto-filtro:hover {
    color: white;
}

.subfiltro {
    color: white;
    padding-left: 5px;
}

/* Pestañas */
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: white;
    background-color: #016392;
    border-color: transparent;
}
.nav-tabs .nav-link {
    border: 0px;
    background-color: red;
    color: white;
}
.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
    color: white;
    background-color: #016392;
    border-color: transparent;
}

/* Titulo de cada tab content */
.titulo {
    background-color: #016392;
    color: white;
    padding-bottom: 5px;
}
.titulog {
    background-color: #d70c20;
    color: white;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.numero {
    font-size: 40px;
}

#texton {
    font-size: 20px;
}


/* Cards en los archivos de Grafica */

.cbody {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: #f3f3f4;
}

/* Texto del Ranking en los archivos de Grafica */

.txta {   
    color: #007bff!important;
    font-size: 50px;
}


.txtn {
    color: #ffc107!important;
    font-size: 38px;
}


.txtt {
    color: #28a745!important;
    font-size: 67px;
}

/* Boton Dashboard */
.bdash {
    margin-top: 10px;
}

/* Tabla ranking */
.rankingt {
    background-color: #F2F2F2;
}

/* Clase text-center de otras versiones de bootstrap */
.text-center{
    text-align: center!important;
}

/* Texto para la card cuando no haya informacion*/
.noinfo {
    color: black;    
    font-size: 30px;
    height: 500px;
    line-height: 450px;
}

/*Texto de las 3 card que aparecen dentro de la card */
.txti_aprobados {
    margin: 5px;
    font-weight: 700;
    color: green;
}

.txti_noaprobados {
    margin: 5px;
    font-weight: 700;
    color: red;
}

.txti_inscritos {
    margin: 5px;
    font-weight: 700;
    color: blue;
}

/*Numeros de las 3 card que aparecen dentro de la card */
.txtnum_aprobados{
    font-size: 20px;
    padding-bottom: 15px;
    color: green;
}

.txtnum_noaprobados{
    font-size: 20px;
    padding-bottom: 15px;
    color: red;
}

.txtnum_inscritos {
    font-size: 20px;
    padding-bottom: 15px;
    color: blue;
}

/*Espacio entre cards*/
.espacio{
    margin-bottom: 10px;
}

/* Espacio que se hace entre la grafica y los 3 elementos dentro de la card */
.esp {
    margin-bottom: 0px;
}

/* Margen del row */
.espr {
    margin-left: 0px;
    margin-right: 0px;
    background: #fbfbfb;    
}

/* Boton imprimir */
.btnimprimir{
    text-align: center;
}

/* Estilos del loader */
#loader {
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #016392;
    border-bottom: 16px solid #d70c20;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;    
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Animacion del loader */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
/* Texto en mayúsculas para indicador */
.indicator_option {
    text-transform: uppercase;
}

.texto-filtro {
    text-transform: uppercase;
}

#contenedor_fechas {
    padding: 2%;
}

#navbarSupportedContent {
    padding-bottom: 1%;
}

/*Texto en tabla comparativa*/
.txt_tabla_aprobados{
    color: green;
}

.txt_tabla_no_aprobados{
    color: red;
}

.txt_tabla_inscritos{
    color: blue;
}

.txt_tabla_ideal{
    color: #ff7f0e
}

.txt_tabla_porcentaje_aprobacion{
    color: #1f77b4;
}

